@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
   
    --radius: 0.5rem;
  }
}


html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 100px; /* Adjust this value based on your header height */
}